<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand" href="#">SolidWorks Models</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/models">View Models</a>
            </li>
        </ul>
    </div>
</nav>


